figure.right-aligned > img {
  float: right;
  width: 50%;
  height: 50%;
  margin: 0 0 2rem 2rem;
}

@media only screen and (max-width: 768px) {
  figure.right-aligned > img {
    float: none;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
