// Fonts
$text-font-family: Merriweather, Georgia, serif;
$heading-font-family: Lato, Helvetica, sans-serif;
$code-font-family: 'Source Code Pro', 'Lucida Console', monospace;

// Colors
$bg-color: #212121 !default;
$fg-color: #fafafa !default;
$alt-bg-color: #424242 !default;
$alt-fg-color: #fafafa !default;
$link-color: #f44336 !default;
